@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Winky Sans", sans-serif;


}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4%;
}

body{
    background: linear-gradient(#ddb4ff, #54128a);
    overflow-y: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

.logo{
    width: 170px;
}

.logo img{
    width: 100%;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    padding: 0 15px;
    font-size: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: rgb(148, 7, 241);
}

section{
    display: flex;
    position: relative;
    min-height: 100vh;
    align-items: center;
}

.secao-texto{
    color: white;
    width: 50%;
    text-align: center;
}

.secao-texto h1{
    font-size: 5rem;
    margin-top: 10px;
    text-shadow: 3px 0 #401e5c,
                 -3px 0 #401e5c,
                 0 3px 0 #401e5c,
                 0 -3px #401e5c,
                 2px 2px #401e5c,
                 -2px -2px #401e5c,
                 2px -2px #401e5c,
                 -2px 2px #401e5c;
                  
}




.secao-texto p{
    font-size: 20px;
    margin: 30px 0;
    font-weight: 400;
    text-align: left;
}

.secao-texto div{
    text-align: left;
}

.secao-texto div button{
    font-size: 22px;
    color: white;
    border: none;
    background-color: transparent;
    margin-right: 30px;
    font-weight: 300;
}

.secao-texto div button i{
    font-size: 38px;
    margin-right: 10px;
}

.secao-texto div button:first-child{
    display: inline-flex;
    align-items: center;
}

.secao-texto div button:last-child{
    border: 1px solid white;
    border-radius: 50px;
    padding: 20px;
}

.secao-img{
    position: absolute;
    right: -50px;
    bottom: -40px;
}

.secao-img img{
    width: 450px;
}

.link{
    color: white;
    text-decoration: none;
}